*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:host{
    --font-style:sans-serif
}

.container{
    width: 100%;
}

.order-head{
    width:100%;
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-style);
    margin-top: 2rem;
}

.order-table{
    width: 100%;
    margin-top: 2rem;
    font-size: 1rem;
    font-family: var(--font-style);
    border-collapse: collapse;
}

.order-table td, .order-table th{
    padding: .5rem .5rem;
    border: 1px solid black;
    text-align: center;
}

.order-table th{
    background-color: rgb(28, 28, 244);
    color: antiquewhite;
}

.order-table tbody tr:nth-child(even){
    background-color: lightgray;
}



/* -------------------------------------------
REsponsive
------------------------------------------- */

@media screen and (max-width:500px){

    html{
        font-size: 50%;
    }
    .order-head{
        width:100%;
        font-size: 2rem;
        text-align: center;
        font-family: var(--font-style);
        margin-top: 2rem;
    }

    .order-table thead{
        display: none;
    }

    .order-table, .order-table tbody, .order-table tr, .order-table td{
       display: block;
       width: 100%;
    }

    .order-table tr{
        margin-bottom: 1rem;
    }

    .order-table td{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .order-table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        padding-left: .5rem;
    }

}